---
import Layout from '@/pages/layout.astro';
import BotonToTop from '@/components/partials/boton-to-top.astro';
import Hero from '@/components/hero.astro';
import Services from '@/components/services.astro';
import About from '@/components/about.astro';
---

<Layout title_page="VM Metalmecánica">
    <Hero />
    <div id="services"></div>
    <Services />
    <div id="about"></div>
    <About />
    <BotonToTop />
</Layout>
