---
import { Icon } from 'astro-icon/components';
---

<button
    id="btn-toTop"
    class="fixed bottom-5 right-5 z-1000 border-none rounded-full cursor-pointer opacity-0 invisible transition-all duration-200 bg-(--primary)"
>
    <Icon name="fluent:arrow-right-12-filled" class="size-12 p-2 -rotate-90" />
</button>

<script>
    const toTopButton = document.getElementById('btn-toTop');

    if (toTopButton) {
        toTopButton.addEventListener('click', () => {
            window.scrollTo({ top: 0 });
        });

        window.addEventListener('scroll', () => {
            const currentScrollY = window.scrollY;

            if (currentScrollY > 75) {
                toTopButton.classList.remove('opacity-0', 'invisible');
                toTopButton.classList.add('opacity-100', 'visible');
            } else {
                toTopButton.classList.remove('opacity-100', 'visible');
                toTopButton.classList.add('opacity-0', 'invisible');
            }
        });
    }
</script>
