---
import { Icon } from 'astro-icon/components';

interface Props {
    icon: string;
    title: string;
    items: string[];
    image: string;
}

const { icon, title, items, image } = Astro.props;
---

<div
    class="group relative overflow-hidden rounded-2xl md:rounded-[2.5rem] bg-(--card-background) border border-(--primary)/30 hover:border-(--primary) transition-all duration-300"
>
    <!-- Imagen de fondo -->
    <div class="absolute inset-0">
        <div
            class="w-full h-full bg-cover bg-center opacity-20 group-hover:opacity-30 transition-opacity duration-500"
            style={`background-image: url('${image}');`}
        >
        </div>
        <div class="absolute inset-0 bg-linear-to-br from-(--card-background) to-transparent"></div>
    </div>

    <!-- Contenido -->
    <div class="relative p-8 flex flex-col gap-6 min-h-80">
        <div class="flex items-start gap-4">
            <div
                class="size-14 rounded-2xl bg-(--primary)/10 flex items-center justify-center text-(--primary) group-hover:bg-(--primary) group-hover:text-white transition-colors duration-300 shrink-0"
            >
                <Icon name={icon} class="size-7" />
            </div>
            <h3 class="text-white text-2xl font-bold mt-2">
                {title}
            </h3>
        </div>

        <ul class="flex flex-col gap-3 mt-auto">
            {
                items.map((item) => (
                    <li class="flex items-center gap-3 text-gray-300">
                        <div class="size-2 rounded-full bg-(--primary)" />
                        <span class="text-base">{item}</span>
                    </li>
                ))
            }
        </ul>
    </div>
</div>
