---
import { Icon } from 'astro-icon/components';

interface Props {
    icon: string;
    title: string;
    description: string;
    features: string[];
}

const { icon, title, description, features } = Astro.props;
---

<div
    class="group relative flex flex-col justify-between overflow-hidden rounded-2xl md:rounded-[2.5rem] bg-(--card-background) hover:border-(--primary)/50 transition-colors p-6 h-full border border-(--card-background)"
>
    <div class="flex flex-col gap-4 z-10">
        <div
            class="size-12 rounded-full bg-(--primary)/10 flex items-center justify-center text-(--primary) group-hover:bg-(--primary) group-hover:text-white transition-colors duration-300"
        >
            <Icon name={icon} class="size-7" />
        </div>
        <h3 class="text-white text-2xl md:text-xl font-bold">{title}</h3>
        <p class="text-gray-400 text-base md:text-sm leading-relaxed">
            {description}
        </p>
        <ul class="flex flex-col gap-2 mt-2">
            {
                features.map((feature) => (
                    <li class="flex items-center gap-2 text-base md:text-sm text-gray-300">
                        <Icon name="lucide:check-circle" class="size-4 text-(--primary)" />
                        {feature}
                    </li>
                ))
            }
        </ul>
    </div>
</div>
