---
const links = [
    { href: '#', text: 'Sobre nosotros' },
    { href: '#servicios', text: 'Servicios' },
    { href: '#productos', text: 'Productos' },
    { href: '#contacto', text: 'Contacto' },
];
---

<header
    class="sticky top-0 left-0 right-0 z-50 transition-all duration-300 ease-in-out border-b-2 border-(--primary)/20"
>
    <div
        class="subheader max-w-7xl flex justify-center md:justify-between items-center mx-4 md:m-auto py-2 md:p-4 transition-all duration-300 ease-in-out rounded-full [&.header-scroll-custom-css]:bg-linear-to-br [&.header-scroll-custom-css]:from-(--surface-darker)/80 [&.header-scroll-custom-css]:to-(--surface)/80 [&.header-scroll-custom-css]:backdrop-blur-md"
    >
        <div class="logo flex items-center gap-3">
            <img src="/svg_white.svg" alt="Logo" class="h-12" />
            <span class="text-xl font-bold">VM Metalmecánica</span>
        </div>
        <nav class="nav hidden md:block">
            <ul class="flex list-none gap-2">
                {
                    links.map((link) => (
                        <li>
                            <a
                                href={link.href}
                                class="no-underline p-3 rounded-full transition-all duration-200 ease-in-out hover:bg-(--primary)"
                            >
                                {link.text}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</header>
<script>
    let lastScrollY = window.scrollY;
    const header = document.querySelector('header');
    const subheader = document.querySelector('.subheader');

    window.addEventListener('scroll', () => {
        const currentScrollY = window.scrollY;

        if (currentScrollY > 50) {
            header?.classList.add('top-2');
            header?.classList.remove('border-b-2');
            subheader?.classList.add('header-scroll-custom-css');
        } else {
            header?.classList.remove('top-2');
            header?.classList.add('border-b-2');
            subheader?.classList.remove('header-scroll-custom-css');
        }

        lastScrollY = currentScrollY;
    });
</script>
