---
const links = [
    { href: '#', text: 'Sobre nosotros' },
    { href: '#servicios', text: 'Servicios' },
    { href: '#productos', text: 'Productos' },
    { href: '#contacto', text: 'Contacto' },
];
---

<header
    class="sticky top-0 left-0 right-0 z-50 py-2 md:py-4 transition-all duration-300 ease-in-out"
>
    <div class="px-4 sm:px-6 lg:px-8 mx-auto flex justify-center md:justify-between items-center">
        <div class="logo flex items-center gap-3">
            <img src="/svg_white.svg" alt="Logo" class="h-12" />
            <span class="text-xl font-bold">VM Metalmecánica</span>
        </div>
        <nav class="nav hidden md:block">
            <ul class="flex list-none gap-2">
                {
                    links.map((link) => (
                        <li class="p-3 rounded-full transition-all duration-200 ease-in-out font-bold">
                            <a href={link.href} class="no-underline">
                                {link.text}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</header>
<script>
    let lastScrollY = window.scrollY;
    const header = document.querySelector('header');

    window.addEventListener('scroll', () => {
        const currentScrollY = window.scrollY;

        if (currentScrollY > 50) {
            header?.classList.add('top-2');
            header?.classList.add('sm:mx-6');
            header?.classList.add('lg:mx-8');
            header?.classList.add('mx-4');
            header?.classList.add('m-auto');
            header?.classList.add('rounded-full');
            header?.classList.add('header-scroll');
        } else {
            header?.classList.remove('top-2');
            header?.classList.remove('mx-4');
            header?.classList.remove('sm:mx-6');
            header?.classList.remove('lg:mx-8');
            header?.classList.remove('m-auto');
            header?.classList.remove('rounded-full');
            header?.classList.remove('header-scroll');
        }

        lastScrollY = currentScrollY;
    });
</script>
