---
import ServiceCard from '@/components/partials/service-card.astro';

const services = [
    {
        icon: 'lucide:hammer',
        title: 'Fabricación de Metal',
        description:
            'Soldadura estructural, rejas, protecciones de seguridad y reparaciones industriales.',
        features: [
            'Rejas y Cercos',
            'Reparaciones Estructurales',
            'Soldadura MIG',
        ],
    },
    {
        icon: 'lucide:key',
        title: 'Servicios de Cerrajería',
        description:
            'Apertura de emergencias 24/7, instalación de cerraduras de alta seguridad.',
        features: [
            'Apertura de Emergencia 24/7',
            'Instalación de cerraduras',
        ],
    },
    {
        icon: 'lucide:palette',
        title: 'Proyectos Personalizados',
        description:
            'Trabajo en menor y mayor medida con metal, madera o mixtas.',
        features: ['Muebles', 'Estructuras','Trabajos personalizados'],
    },
];
---

<section class="w-full py-16 md:py-20">
    <div class="w-full flex justify-center px-4 md:px-6 lg:p-8">
        <div class="w-full max-w-7xl flex flex-col gap-10">
            <div class="flex flex-col md:flex-row md:items-end justify-between gap-4">
                <div class="flex flex-col gap-2">
                    <span
                        class="text-(--primary) font-bold tracking-wider uppercase text-base md:text-sm"
                    >
                        Nuestra Experiencia
                    </span>
                    <h2 class="text-white text-4xl md:text-4xl font-bold leading-tight">
                        Servicios Profesionales
                    </h2>
                </div>
                <p class="text-gray-400 max-w-md text-base md:text-base">
                    Soluciones integrales para tus necesidades de seguridad y estructuras en el
                    hogar o negocio.
                </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
                {services.map((service) => <ServiceCard {...service} />)}
            </div>
        </div>
    </div>
</section>
